<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <!-- Your django path -->
    <add key="PYTHONPATH" value="D:\PyProjects\Django\Certs_UFK\Certs_UFK" /> 
    <!-- Your djangoname.settings -->
    <add key="DJANGO_SETTINGS_MODULE" value="Certs_UFK.settings" />
  </appSettings>

    <system.webServer>
        <handlers>
            <add name="NewFastCgi" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\PyProjects\Django\Certs_UFK\venv\Scripts\python.exe|D:\PyProjects\Django\Certs_UFK\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
