{% load static %}
<nav class="navbar navbar-expand-md navbar-light sticky-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><span class="fs-3 ms-2 fw-bolder">Администратор</span><span
                class="text-danger fw-bold text-300 fs-3">_ИБ</span></a>
        <button class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pt-4 pt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
                {% if not request.user.is_authenticated %}
                <li class="nav-item px-2">
                    <a class="nav-link active"
                       aria-current="page"
                       href="">Главная</a>
                </li>
                {% endif %}

                {% if request.user.is_authenticated %}
                <li class="nav-item px-2">
                    <a class="nav-link" href="{% url 'to_admin' %}">Панель администрирования</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="{% url 'pick_worker' %}">Записи по сотруднику</a>
                </li>
                <li class="nav-item px-2">
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown"
                                   role="button" aria-expanded="false">
                                    {{ user.username | upper }}
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark"
                                    aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li class="nav-item px-2">
                    <a class="nav-link" href="{% url 'login' %}">Вход</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>