{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="mt-6 mb-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-8 col-lg-4">
                        <div class="card card-bg">
                            <div class="card-body p-5">
                                <h1>Сертификат обработан!</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        {% for cert in certs %}
        <p>{{ cert.cert }}</p>
        <!-- Выводим размер картинки -->
        {% endfor %}
    </div>
</section>
{% endblock content %}