<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
<appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <!-- Your django path -->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\CERTS_UFK" /> 
    <!-- Your djangoname.settings -->
    <add key="DJANGO_SETTINGS_MODULE" value="CERTS_UFK.settings" />
  </appSettings>

    <system.webServer>
        <handlers>
            <remove name="MyFastCgiModule" />
            <add name="MyFastCgiModule" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\domashenkoik\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\domashenkoik\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
